backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
bs4==0.0.1
Django==1.11.29
html5lib==1.0.1
lxml==4.6.2
mysqlclient==1.3.4
pytz==2019.1
six==1.12.0
soupsieve==1.9.1
webapp2==2.5.2
webencodings==0.5.1
WebOb==1.8.5
